<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="idth=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Wazard Mail Form</title>
</head>
<body>
<section style="width: 800px; display: flex; flex-direction: column; margin: 0 auto;">
    <div style="line-height: 70px; margin: 10px; font-size: 30px; text-align: center; height: 70px; border-bottom: 3px solid black;">
        <label th:text="${companyName}"></label>
    </div>
    <p style="margin: 20px; font-size: 18px; margin-bottom: 30px;">
        아래의 인증코드를 통해 계약 내용을 확인하고 <b th:text="${companyName}"></b> 의 일원이 될 수 있습니다!
    </p>
    <div style="background-color: #d9d9d9;
             text-align: center;
             height: 50px;
             width: 80%;
             margin: 0 auto;
             line-height: 50px;
             font-size: 20px;">
        <label th:text="${code}"></label>
    </div>
</section>
</body>
</html>